.env
.env.*
.bash_history
.bash_logout
.bashrc
.profile
.gitconfig
.ssh/
.cache/
.local/
__pycache__/
*.pyc
nohup.out
.lesshst
.wget-hsts
.cloud-locale-test.skip
bridge-arch-001/
bridge-arch-public/
bridge-arch/
*.tar.gz
